*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
*.vrb
*.nav
*.snm
*.asv
CMSE820/yalefaces/
CMSE820/yaleB20/
CMSE820/CroppedYale/
.DS_Store
*.zip
__pycache__
.vscode
*.o
svg-inkscape/
*.ckpt
_minted-*
VanillaGAN-*/
VanillaGAN_*/
CycleGAN-*/
